@charset "UFT-8";

@font-face {
    font-family: PassionOne-Bold;
    src: url(../fontes/PassionOne-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sriracha-Regular;
    src: url(../fontes/Sriracha-Regular.ttf) format('truetype');
    font-weight: normal;
}

:root{
    --letra-destaque: PassionOne-Bold, cursive;
    --letra-poema: Sriracha-Regular, cursive;
}

*{
    margin: 0;
    padding: 0;
}

html , body{
    min-height: 100vh;
}

/*-------------------------------------------------*/

header{
    background-color: black;

    padding: 45px;

    text-align: center;
}

header h1{
    font-family: var(--letra-destaque);
    font-variant: small-caps;
    color: white;
    font-size: 10vw;

    padding: 20px;
}

header a{
    text-decoration: none;
    color: white;
}

header p, footer p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header a:hover{
    text-decoration: underline;
}

/*------------------------------------------------*/

main p{
    font-family: var(--letra-poema);
    font-size: 3.5vw;

    margin: 70px 35px;

    line-height: 2em;
}

main section.fundo-imagem{
    background-image: url(../imagens/background001.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    background-color: rgb(103, 103, 103);

    box-shadow: inset 5px 5px 8px rgba(0, 0, 0, 0.515);

    padding: 35px 0;
}

main section#segunda-imagem{
    background-image: url(../imagens/background002.jpg);
}

main section.fundo-imagem p{
    background-color: rgba(0, 0, 0, 0.497);

    color: white;

    width: max-content;

    padding: 5px;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.456);

    border-radius: 2px;
}

/*------------------------------------------------*/

footer{
    background-color: black;

    padding: 10px;
    
    text-align: center;
}

footer p a{
    text-decoration: none;
    color: white;
}

footer p a:hover{
    text-decoration: underline;
}

